.App{
background: linear-gradient( 45deg, #81ecff,rgb(131, 5, 131));
background-repeat: no-repeat;
width: 500px;
height: 700px;
position: relative;
margin-left: 300px;
margin-top: 100px;
border: transparent;
border-radius: 30px;
}
H1{
  text-align: center;
  font-size: 50px;
  color: antiquewhite;
}
.input{
  text-align: center;
  height: 70px;
}
.operators{
  text-align: center;
}
.numbers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 400px;
  height: 350px;
  margin-left: 45px;
  margin-top: 40px;
  


}
.operators{
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}


